@if (Product != null)
{
    <EditForm Model="Product" OnValidSubmit="OnValidSubmit">

        <FluentValidationValidator />

        <div class="form-group">
            <label class="form-label" for="name">Product name</label>
            <ValidationMessage For="() => Product.Name" />
            <InputText class="form-control" id="name" @bind-Value="Product.Name" />
        </div>

        <div class="form-group">
            <label class="form-label" for="description">Description</label>
            <ValidationMessage For="() => Product.Description" />
            <InputText class="form-control" id="description" @bind-Value="Product.Description" />
        </div>

        <div class="form-group">
            <label class="form-label" for="price">Price</label>
            <ValidationMessage For="() => Product.Price" />
            <InputNumber class="form-control" id="price" @bind-Value="Product.Price" />
        </div>

        <br />

        <div class="form-group">
            <ProductInventoriesWithSearchComponent Product="Product" />
        </div>

        <br />

        <button type="submit" class="btn btn-outline-primary">Submit</button>

    </EditForm>

}

@code {
    [Parameter]
    public Product? Product { get; set; }

    [Parameter]
    public EventCallback<EditContext> OnValidSubmit { get; set; }
}
