@inject NavigationManager NavigationManager;

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @if (Products != null && Products.Count > 0)
        {
            @foreach (var product in Products)
            {
               <ProductItemComponent Product="product"/>
            }
        }
        else
        {
            <tr>
                <td colspan="4">Product list is empty!</td>
            </tr>
        }

    </tbody>
</table>


@code {

    [Parameter]
    public List<Product>? Products { get; set; }

}
