
@inject IViewProductsByNameUseCase ViewProductsByNameUseCase

<div class="input-group mb-3">

    <input aria-label="Type product name here to search"
           class="form-control"
           type="text"
           placeholder="Type product name here to search"
           @bind-value="ProductNameToSearch">

    <button class="btn btn-outline-success"
            type="button"
            @onclick="@(async () => await ViewProductsAsync())">
        View
    </button>

</div>

@code {
    private string? ProductNameToSearch;

    protected override async Task OnInitializedAsync()
    {
        await ViewProductsAsync();
    }

    [Parameter]
    public EventCallback<List<Product>> OnSearchProducts { get; set; }

    private async Task ViewProductsAsync()
    {
        List<Product> products = (await ViewProductsByNameUseCase.ExecuteAsync(ProductNameToSearch ?? string.Empty)).ToList();

        await OnSearchProducts.InvokeAsync(products);
    }
}
