@using Microsoft.JSInterop

@inject IJSRuntime JSRuntime

<style>
    #alertContainer {
        transition: 0.5s;
        position: relative;
    }

        #alertContainer .alert {
            display: none;
            position: absolute;
            right: 0;
            top: -13px;
        }
</style>


<div id="alertContainer">
    <div class="alert alert-warning alert-dismissible" role="alert">
        @_message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" @onclick="Hide"></button>
    </div>
</div>


@code {
    private string? _message;


    public async Task Hide()
    {
        await JSRuntime.InvokeVoidAsync("fadeOut", "#alertContainer .alert");
    }

    public async Task Show(string message = "Message")
    {
        _message = message;
        StateHasChanged();

        await JSRuntime.InvokeVoidAsync("fadeIn", "#alertContainer .alert");
    }

}



