@page "/addproduct"

@inject IAddProductUseCase AddProductUseCase
@inject NavigationManager NavigationManager

<h3>Add Product</h3>

<EditFormProductComponent Product="_product" OnValidSubmit="HandleValidSubmit"/>

@code {

    private Product _product = new();

    private async Task HandleValidSubmit()
    {
        await AddProductUseCase.ExecuteAsync(_product);
        NavigationManager.NavigateTo("/products");
    }

}
