@page "/editproduct/{id}"

@inject IViewProductByIdUseCase ViewProductByIdUseCase
@inject IEditProductUseCase EditProductUseCase
@inject NavigationManager NavigationManager

<h3>EditProduct</h3>

<EditFormProductComponent Product="_product" OnValidSubmit="HandleValidSubmit"/>

@code {

    [Parameter]
    public string? Id { get; set; }

    private Product? _product;

    protected override async Task OnInitializedAsync()
    {
        _product = await ViewProductByIdUseCase.ExecuteAsync(Guid.Parse(Id ?? ""));
    }

    private async Task HandleValidSubmit()
    {
        if (_product != null)
        {
            await EditProductUseCase.ExecuteAsync(_product);
        }

        NavigationManager.NavigateTo("/products");
    }

}
