@page "/products"

@inject NavigationManager NavigationManager
@inject IViewProductsByNameUseCase ViewProductsByNameUseCase

<h3>Product List</h3>
<br />

<SearchProductsComponent OnSearchProducts="SearchProduct"/>

<button type="button" class="btn btn-link" @onclick="NavigateToAddProduct">Add new product</button>
<br />

<ProductListComponent Products = "_products" OnProductDeleted="UpdateProductList"/>


@code {

    private List<Product>? _products;

    private void SearchProduct(List<Product> products)
    {
        _products = products ?? new List<Product>();
    }

    private void NavigateToAddProduct()
    {
        NavigationManager.NavigateTo("/addproduct");
    }

    private async Task UpdateProductList()
    {
        _products = await ViewProductsByNameUseCase.ExecuteAsync(string.Empty);
    }

}
