
@inject NavigationManager NavigationManager

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Inventories != null && Inventories.Count > 0)
        {
            @foreach (var inventory in Inventories)
            {
                <InventoryItemComponent Inventory="inventory" />
            }
        }
        else
        {
            <tr>
                <td colspan="4">Inventory list is empty</td>
            </tr>
        }
    </tbody>
</table>


@code {
    [Parameter]
    public List<Inventory>? Inventories { get; set; }
}
