
@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<div class="input-group mb-3">

    <input aria-label="Type inventory name here to search"
           class="form-control"
           type="text"
           placeholder="Type inventory name here to search"
           @bind-value="InventoryNameToSearch">

    <button class="btn btn-outline-success"
            type="button"
            @onclick="@(async () => await ViewInventoriesAsync())">
        View
    </button>

</div>

@code {
    private string? InventoryNameToSearch;

    protected override async Task OnInitializedAsync()
    {
        await ViewInventoriesAsync();
    }

    [Parameter]
    public EventCallback<List<Inventory>> OnSearchInventories { get; set; }

    private async Task ViewInventoriesAsync()
    {
        List<Inventory> inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync(InventoryNameToSearch ?? string.Empty)).ToList();

        await OnSearchInventories.InvokeAsync(inventories);
    }
}
