@page "/addinventory"

@inject IAddInventoryUseCase AddInventoryUseCase
@inject NavigationManager NavigationManager


<h3>Add inventory</h3>

<EditFormInventoryComponent Inventory="_inventory" OnValidSubmit="HandleValidSubmit"/>

@code {
    private Inventory _inventory = new();

    private async Task HandleValidSubmit()
    {
        await AddInventoryUseCase.ExecuteAsync(_inventory);
        NavigationManager.NavigateTo("/inventories");
    }

}
