@page "/edetinventory/{id}"

@inject IViewInventoryByIdUseCase ViewInventoryByIdUseCase
@inject IEditInventoryUseCase EditInventoryUseCase
@inject NavigationManager NavigationManager

<h3>Edit Inventory</h3>

<EditFormInventoryComponent Inventory="_inventory" OnValidSubmit="HandleValidSubmit" />

@code {

    [Parameter]
    public string? Id { get; set; }

    private Inventory? _inventory;

    protected override async Task OnInitializedAsync()
    {
        _inventory = await ViewInventoryByIdUseCase.ExecuteAsync(Guid.Parse(Id ?? ""));
    }

    private async Task HandleValidSubmit()
    {
        if (_inventory != null)
        {
            await EditInventoryUseCase.ExecuteAsync(_inventory);
        }

        NavigationManager.NavigateTo("/inventories");
    }
}
