@inject NavigationManager NavigationManager

@if (Inventory != null)
{
    <tr>
        <td>@Inventory.Name</td>
        <td>@Inventory.Quantity</td>
        <td>@Inventory.Price.ToString("C2")</td>
        <td>
            @if (VisibleEditButton)
            {
                <a class="btn btn-outline-success" @onclick="() => NavigateToEditInventory(Inventory.Id)">Edit</a>
            }
            @if (VisibleDeleteButton)
            {
                <a class="btn btn-outline-danger" @onclick="() => DeleteInventory(Inventory.Id)">Delete</a>
            }

            @if (VisibleAddToList)
            {
                <a class="btn btn-outline-danger" @onclick="() => DeleteInventory(Inventory.Id)">Delete</a>
            }
        </td>
    </tr>
}


@code {

    [Parameter]
    public Inventory? Inventory { get; set; }

    [Parameter]
    public bool VisibleDeleteButton { get; set; } = true;
    
    [Parameter]
    public bool VisibleEditButton { get; set; } = true;
    
    [Parameter]
    public bool VisibleAddToList { get; set; } = false;


    private void NavigateToEditInventory(Guid inventoryId)
    {
        NavigationManager.NavigateTo($"/edetinventory/{inventoryId}");
    }
    private void DeleteInventory(Guid inventoryId)
    {

    }

}

